<div class="jumbotron"  style="padding:40px;">
  <div class="row">
    <div class="col text-center">
      <h1>Gilby Faqih</h1>
      <p>Bootcamp batch 3</p>
      <img src="../public/img/photo.jpg" alt="gilby" style="width:350px;height:500px;">
    </div>
  </div>
</div>